@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}



.navbar{
    margin: 55px 135px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
   display: flex;
    padding-left: 30px;
    align-items: center;
}
.nav-title img{
    margin-right: 10px;
    height: 60px;
    width: 60px;
}
.nav-title h1{
    font-size: 2rem;
}
.nav-anchor ul{
    display: flex;
}
.nav-anchor li{
     list-style: none;
}
.nav-anchor a{
    text-decoration: none;
    font-weight: 400;
    margin-right: 40px;
}

/* Header start */

 .first-header{
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
    background-repeat: no-repeat;
height: 500px;
border-radius: 16px;
margin: 55px 135px 50px 350px;
text-align: center;
}

.first-header-text{
    padding-top: 50px;
}
.first-header-text h1{
    font-size: 4rem;
    color: #FFF;
 
}
.first-header-text p{ 
    color: #FFF;
    margin-bottom: 100px;
}
.select-item select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    margin-right: 10px;


}

.select-item button{
    width: 174px;
     height: 52px;
    border-radius: 8px;
   background: #FF5400;
    border: 0;
    color: #FFF;
}
/* header sec two */
 
.header-sec-two{
    margin: 55px 135px 50px 350px;
   display: flex;
   gap: 60px;
   
}

.sec-two-text{
    width: 40%;
    color: #131318;
}
.sec-two-text p{
    margin-top: 40px;
}
.sec-two-text ul li{
    margin-top: 30px;
}

.sec-two-text button{
    padding: 10px 30px;
    color: #FFF;
    border-radius: 8px;
background: #FF5400;
}
/* main section */

.img-text{
    margin-top: 8%;
    text-align: center;
}
.img-text h1{
    font-size: 2.5rem;
}
.img-container{
    margin: 55px 135px 50px 350px;
    display: grid;
    gap: 15px;
}

.img-container img{
   padding: 5px;
}
.choose-text{
    text-align: center;
}

.choose-text h1{
    font-size: 2.5rem;
}


.card{
    display: flex;
    margin: 55px 135px 50px 350px;
    gap: 20px;

}
.cardone{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 40px;
}
.cardtwo{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 40px;
}

.cardthree{
    width: 573px;
height: 284px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-left: 35%;
padding: 40px;
}








@media screen and (max-width:600px){
    *{
        overflow-x: hidden;
    }

    .navbar{
        flex-direction: column;
       margin: 0;
    }
    .nav-anchor a{
        margin-right: 10px;
    }

    .first-header{
        height: 100%;
        width: 100%;
        margin: 0%;
        
    }
    .first-header-text{
        padding-top: 10px;
    }
    .first-header-text h1{
        font-size: 22px;
    }
    .first-header-text p{
        margin-bottom: 0px;
        font-size: 14px;
    }

    .select-item{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.30);
         margin: 5%;
        padding: 13%; 
        padding-bottom: 40px; 
    }

.select-item select, .select-item button{
    width: 100%;
}
.header-sec-two{
    flex-direction: column;
    margin: 0;
}


.sec-two-text{
    width: 100%;
}
.sec-two-text p{
    margin-top: 20px;
}
.sec-two-text ul li{
    margin-top: 10px;
}
.sec-two-img{
    width: 100%;
    border-radius: 40px;
}

.img-text h1{
    font-size: 1.5rem;
}

.img-container{
    margin: 0;
    grid-template-columns: 1fr;
    gap: 5px;
}
.img-container img{
    width: 90%;
    height: 236px;
    border-radius: 16px;
    margin-left: 5%;
}
.card{
    flex-direction: column;
    margin: 0;
}

.cardone{
    width: 80%;
    height: 50%;
}
.cardtwo{
    width: 80%;
    height: 50%;
}
.cardthree{
    margin: 0;
    width: 80%;
    height: 50%;
}







}