@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}



.navbar{
    margin: 55px 135px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
   display: flex;
    padding-left: 30px;
    align-items: center;
}
.nav-title img{
    margin-right: 10px;
    height: 60px;
    width: 60px;
}
.nav-title h1{
    font-size: 2rem;
}
.nav-anchor ul{
    display: flex;
}
.nav-anchor li{
     list-style: none;
}
.nav-anchor a{
    text-decoration: none;
    font-weight: 400;
    margin-right: 40px;
}

/* Header start */

 .first-header{
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
height: 500px;
border-radius: 16px;
margin: 55px 135px 50px 350px;
text-align: center;
}

.first-header-text{
    padding-top: 50px;
}
.first-header-text h1{
    font-size: 4rem;
    color: #FFF;
 
}
.first-header-text p{ 
    color: #FFF;
    margin-bottom: 100px;
}
.select-item select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    margin-right: 10px;


}

.select-item button{
    width: 174px;
     height: 52px;
    border-radius: 8px;
   background: #FF5400;
    border: 0;
    color: #FFF;
}

 













@media screen and (max-width:600px){
    *{
        overflow-x: hidden;
    }

    .navbar{
        flex-direction: column;
       margin: 0;
    }
    .nav-anchor a{
        margin-right: 10px;
    }

    .first-header{
        height: 100%;
        width: 100%;
        margin: 0%;
        
    }
    .first-header-text{
        padding-top: 10px;
    }
    .first-header-text h1{
        font-size: 22px;
    }
    .first-header-text p{
        margin-bottom: 0px;
        font-size: 14px;
    }

    .select-item{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.30);
         margin: 5%;
        padding: 13%; 
        padding-bottom: 40px; 
    }

.select-item select, .select-item button{
    width: 100%;
    
    
}


















}










