@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
body p,ul{
    color: #5A5A5D;
}


.navbar{
    margin: 55px 135px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
   display: flex;
    padding-left: 30px;
    align-items: center;
}
.nav-title img{
    margin-right: 10px;
    height: 60px;
    width: 60px;
}
.nav-title h1{
    font-size: 2rem;
}
.nav-anchor ul{
    display: flex;
}
.nav-anchor li{
     list-style: none;
}
.nav-anchor a{
    text-decoration: none;
    font-weight: 400;
    margin-right: 40px;
}

/* Header start */

 .first-header{
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
    background-repeat: no-repeat;
height: 500px;
border-radius: 16px;
margin: 55px 135px 50px 350px;
text-align: center;
}

.first-header-text{
    padding-top: 50px;
}
.first-header-text h1{
    font-size: 4rem;
    color: #FFF;
 
}
.first-header-text p{ 
    color: #FFF;
    margin-bottom: 100px;
}
.select-item select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    margin-right: 10px;


}

.select-item button{
    width: 174px;
     height: 52px;
    border-radius: 8px;
   background: #FF5400;
    border: 0;
    color: #FFF;
}
/* header sec two */
 
.header-sec-two{
    margin: 55px 135px 50px 350px;
   display: flex;
   gap: 60px;
   
}

.sec-two-text{
    width: 40%;
    color: #131318;
}
.sec-two-text p{
    margin-top: 40px;
}
.sec-two-text ul li{
    margin-top: 30px;
}

.sec-two-text button{
    padding: 10px 30px;
    color: #FFF;
    border-radius: 8px;
background: #FF5400;
}
/* main section */

.img-text{
    margin-top: 8%;
    text-align: center;
}
.img-text h1{
    font-size: 2.5rem;
}
.img-container{
    margin: 55px 135px 50px 350px;
    display: grid;
    gap: 15px;
}

.img-container img{
   padding: 5px;
}

.choose-text{
    text-align: center;
}

.choose-text h1{
    font-size: 2.5rem;
}


.card{
    display: flex;
    margin: 55px 135px 50px 350px;
    gap: 20px;

}
.cardone{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 40px;
}
.cardtwo{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 40px;
}

.cardthree{
    width: 573px;
height: 284px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-left: 35%;
padding: 40px;
}

/* discount */

/* discount */


.discount-title{
    text-align: center;
}
.discount-title h1{
    font-size: 2.5rem;
}

.discount-first{
    background-image: url('Images/Group\ 39.png');
    background-repeat: no-repeat;
    width: 1170px;
     height: 500px;
     margin: 55px 135px 50px 350px;
}
.discount-text{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    margin: 100px 56px 55px 535px;
}

.discount-text h3{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 50px;;
}

.discount-text p{
    margin-left: 20px;
    margin-top: 50px;
   color: #5A5A5D;
}
.discount-text h2 {
    color: #FF5400;
    margin-left: 20px;
    margin-top: 50px;
}
.discount-text button{
    width: 150px;
height: 52px;
color: #FFF;
border-radius: 8px;
background: #FF5400;
margin-left: 20px;
margin-top: 30px;
font-weight: 800;}

/* discount */

.discount-second{
    background-image: url('Images/Group\ 39.png');
    background-repeat: no-repeat;
    width: 1170px;
     height: 500px;
     margin: 55px 135px 50px 350px;
}
.discount-second-text{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    margin: 100px 536px 55px 53px;
}

.discount-second-text h3{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 50px;;
}

.discount-second-text p{
    margin-left: 20px;
    margin-top: 50px;
   color: #5A5A5D;
}
.discount-second-text h2{
    color: #FF5400;
    margin-left: 20px;
    margin-top: 50px;
}
.discount-second-text button{
    width: 150px;
height: 52px;
color: #FFF;
border-radius: 8px;
background: #FF5400;
margin-left: 20px;
margin-top: 30px;
font-weight: 800;}

/* discount */

.discount-third{
    background-image: url('Images/Group\ 39.png');
    background-repeat: no-repeat;
    width: 1170px;
     height: 500px;
     margin: 55px 135px 50px 350px;
}
.discount-third-text{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    margin: 100px 56px 55px 535px;
}

.discount-third-text h3{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 50px;;
}
.discount-third-text p{
    margin-left: 20px;
    margin-top: 50px;
   color: #5A5A5D;
}
.discount-third-text h2 {
    color: #FF5400;
    margin-left: 20px;
    margin-top: 50px;
}

.discount-third-text button{
    width: 150px;
height: 52px;
color: #FFF;
border-radius: 8px;
background: #FF5400;
margin-left: 20px;
margin-top: 30px;
font-weight: 800;

}
.See-All-Packages{
    font-size: 20px;
     font-weight: 600;
    color: #FFF;
    text-align: center;
    width: 210px;
    height: 52px;
    border-radius: 8px;
     background: #FF5400;
     border: 0;
     margin-left: 45%;
}

/* A simple place */

.simple-place{
    margin: 55px 135px 50px 350px;
    display: flex;
    gap: 60px;
}
.simple-place-text{
    width: 40%;
}

.simple-place-text h1{
    font-size: 2.5rem;
}
.simple-place-text p{
    color: #5A5A5D;
}
.simple-place-text li{
    margin-top: 30px;
}

.simple-place-text button{
    margin-top: 20px;
    padding: 10px 30px;
    color: #FFF;
    border-radius: 8px;
background: #FF5400;
}

.simple-place-img{
    position: relative;
}
.simple-place-img h2 {
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 150px;
    left: 180px;
    font-weight: 600;
}

/* last main section */
.last-main-sec{
    display: flex;
    margin: 55px 135px 50px 350px;
    gap: 25px;
}

.last-main-text{
    border-radius: 16px;
    border: 1px solid #FF5400;
    display: grid;
    padding: 20px;
}
.last-main-text h1{
    font-size: 1.5rem;
    margin-bottom: 0%;
}

.last-main-text p{
    margin-top: 0%;
    color: #5A5A5D;
}
.last-main-text input{
    width: 393px;
    height: 52px;
    border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: 0;
}

.last-main-text button{
    color: #FFF;
    font-size: 1.3rem;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}
.last-main-img{
    position: relative;
}
.position-item{
    width: 250px;
height: 80px;
border-radius: 16px;
background: #FF5400;
text-align: center;
padding: 10px;
color: #FFF;
position: absolute;
top: 66%;
left: 59%;
transform: rotate(-19.628deg);

}
/* footer section */

footer{
    width:100%;
height: 502px;
background: rgba(19, 19, 24, 0.05);
text-align: center;
padding-top: 50px;
}

.footer-title{
 display: flex;
 text-align: center;
 margin-left: 45%;
 gap: 20px;
 align-items: center;
 
}

.footer-title img{
    height: 40px;
    width: 40px;
}

.footer-text i{
    font-size: 40px;
    margin-left: 20px;
}

hr{
    width: 50%;
   margin-top: 40px;
}

.footer-text p{
   padding: 50px;

}



@media screen and (max-width:600px){
    *{
        overflow-x: hidden;
    }

    .navbar{
        flex-direction: column;
       margin: 0;

    }
    .nav-anchor a{
        margin-right: 10px;
       font-size: 13px;
        
    }

    .first-header{
        height: 100%;
        width: 100%;
        margin: 0%;
        
    }

    .first-header-text{
        padding-top: 10px;
    }
    .first-header-text h1{
        font-size: 22px;
    }
    .first-header-text p{
        margin-bottom: 0px;
        font-size: 14px;
    }

    .select-item{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.30);
         margin: 5%;
        padding: 13%; 
        padding-bottom: 40px; 
    }

.select-item select, .select-item button{
    width: 100%;
}
.header-sec-two{
    flex-direction: column;
    margin: 0;
}


.sec-two-text{
    width: 100%;
}
.sec-two-text p{
    margin-top: 20px;
}
.sec-two-text ul li{
    margin-top: 10px;
}
.sec-two-img{
    width: 100%;
    border-radius: 40px;
}

.img-text h1{
    font-size: 1.5rem;
}

.img-container{
    margin: 0;
    grid-template-columns: 1fr;
    gap: 5px;
}
.img-container img{
    width: 90%;
    height: 236px;
    border-radius: 16px;
    margin-left: 5%;
}
.card{
    flex-direction: column;
    margin: 0 0 30px 0;
}

.cardone{
    width: 80%;
    height: 50%;
}
.cardtwo{
    width: 80%;
    height: 50%;
}
.cardthree{
    margin: 0;
    width: 80%;
    height: 50%;
}


/* discount */

.discount-first, .discount-second, .discount-third{
    width: auto;
     height: 100%px;
     margin:50px 0 0 0 ;
     border-radius: 30px;
}
.discount-text, .discount-second-text, .discount-third-text{
    width: 90%;
    height: 70%;
    margin: 30px 20px;
    padding: 0;
}
.discount-text h3, .discount-second-text h3, .discount-third-text h3{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 10px;;
}

.discount-text p, .discount-second-text p, .discount-third-text p{
    margin-left: 20px;
    margin-top: 10px
}
.discount-text h2, .discount-second-text h2, .discount-third-text h2{
    margin-left: 20px;
    margin-top: 10px;
}

.See-All-Packages{
    margin-left: 25%;
    margin-top: 20px;
}

.simple-place{
    margin: 0;
    flex-direction: column;
}

.simple-place-text{
    width: 90%;
}
.simple-place-img h2 {
    left:65px;
}
.simple-place-img{
    width: 100%;
    border-radius: 40px;
}
.last-main-sec{
    flex-direction: column;
    margin: 20px 0 0 0;
}

.last-main-text input, .last-main-text button{
   text-align: center;
  margin-top: 20px;
   width: 90%;
   margin-left: 5%;
}
.last-main-img{
    overflow: hidden;
}
.last-main-img img{
    width: 100%;
    height: 100%;
}
.position-item h4{
    margin-top: 0%;
    margin-bottom: 0%;
}


.position-item{
    width: 190px;
    height: 80px;
    overflow: hidden;
    top: 40%;
     left: 40%;
}
footer{
    margin-top: 20px;
    padding-top: 10px;
}
.footer-title{
    margin: 0;
    margin-left: 10%;
    
}

   .footer-title img{
       height: 40px;
       width: 40px;
   }
   
   .footer-text i{
       font-size: 30px;
       margin-left: 10px;
   }
   
   hr{
       width: 80%;
      margin-top: 10px;
   }
   
   .footer-text p{
      padding-top: 10px;
   
   }


}
